.blink_me{
	color: yellow;
	font-size: 64px;
}
body{
	 background: url("http://4.bp.blogspot.com/-wkdD2v_8S6A/UV7k1pRFRhI/AAAAAAAAAYY/uGZLMlyps0Q/s1600/TREBEK.jpg");
	 background-size: cover;
	 background-repeat: no-repeat;
	 width: 100%;
     height: auto;
}
@media screen and (max-width: 1200px) {
    body { 
    background-size:contain;
    background-color: blue; 
    }
}
@media screen and (max-width: 1100px) {
.box{
	background-color: blue;
	height: 50px;
	width: 70px;
	border-style: solid;
	border-color: white;
    border-width: 2px;
    color: black;
    text-align: center;
    font-size: 14px;
    opacity: .75;
    filter: alpha(opacity=50);
}	
}
img{
	max-width: 200px;
	margin: auto;
	animation-duration: 5s;
  	animation-name: slidein;
}

h1{
	font-size: 24px;
	text-align: center;
	color: white;
	font-style: bold;
	animation-duration: 10s;
  	animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 400%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
h2{
	float: left;
	color: white;
	display: block;
}
table{
	padding-right: 120px;
}
.major_box{
	background-color: blue;
	height: 95px;
	width: 150px;
	border-style: solid;
	border-color: white;
    border-width: 2px;
    color: white;
    text-align: center;
    font-size: 28px;
    opacity: .95;
    filter: alpha(opacity=50);
}
.box{
	background-color: blue;
	height: 94px;
	width: 130px;
	border-style: solid;
	border-color: white;
    border-width: 2px;
    color: yellow;
    text-align: center;
    font-size: 28px;
    transition: font-size 1s ease-in-out;
    opacity: .75;
    filter: alpha(opacity=50);
}
.score_box{
	background-color: blue;
	height: 80px;
	border-style: solid;
	border-color: white;
    border-width: 2px;
    color: yellow;
    text-align: center;
    font-size: 28px;
    transition: font-size 1s ease-in-out;
    padding-top: 15px;
    opacity: .75;
    filter: alpha(opacity=50);
}
.box:hover{
	background-color: red;
	font-size: 40px;
}
.col-lg-6{
	float: right;
}
footer{
	height: 100px;
}

#score{
	text-align: center;
	font-size: 32px;
	color: white;
}

#score1{
	text-align: center;
	font-size: 32px;
	color: white;
}

#score2{
	text-align: center;
	font-size: 32px;
	color: white;
}

#Jeopardy{
	margin: center;
}
#playAgain{
	width: 100%;
	background-color: #004A7F;
   -webkit-border-radius: 10px;
    border-radius: 10px;
	border: solid 2px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
#playAgain:hover{
	background-color: red;
	font-size: 28px;
}
