body{
	background-image: url("http://www.fda.gov/ohrms/dockets/ac/03/briefing/4007B1_10_Lesar-Look-Alike-and-Sound-Alike_files/master07_background.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	max-height: 100%;
}
h1{
	text-align: center;
	color: white;
}
h2{
	float: left;
	color: white;
	display: block;
}
table{
	padding-right: 120px;
	padding-top: 50px;
}
.box{
	background-color: blue;
	height: 80px;
	width: 200px;
	border-style: solid;
	border-color: white;
    border-width: 2px;
    color: white;
    text-align: center;
    font-size: 28px;
}
.col-md-4{
	border: 1px solid navy;
	background-color: blue;
	height: 150px;
}
.big_box{
	padding: 20px;
}
.footer{
	padding: 100px;
}
#score{
	text-align: center;
	font-size: 32px;
	color: white;
}
#score1{
	text-align: center;
	font-size: 32px;
	color: white;
}
#score2{
	text-align: center;
	font-size: 32px;
	color: white;
}


