body{
	 background: url("http://i283.photobucket.com/albums/kk312/ethos3/1280_jeo_alex-738030.jpg");
	 background-size: cover;
	 background-repeat: no-repeat;
}
nav{
	background-color: #5A7CC2;
    opacity: .75;
    filter: alpha(opacity=50);
    display: flex;
    width: 20px;
}

.button{
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 15px;
	margin: 20px auto;
	color: white;
	background-color: blue;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
	margin-top: 170px;
	margin-left: 620px;
	width: 200px;
}

