body{
	 background: url("http://4.bp.blogspot.com/-wkdD2v_8S6A/UV7k1pRFRhI/AAAAAAAAAYY/uGZLMlyps0Q/s1600/TREBEK.jpg");
	 background-size: cover;
	 background-repeat: no-repeat;
}
img{
	max-width: 225px;
	margin: auto;
}
h1{
	text-align: center;
	color: white;
}
h2{
	float: left;
	color: white;
	display: block;
}
table{
	padding-right: 120px;
	padding-top: 50px;
}
.box{
	background-color: blue;
	height: 100px;
	width: 175px;
	border-style: solid;
	border-color: white;
    border-width: 2px;
    color: white;
    text-align: center;
    font-size: 28px;
}
.col-lg-6{
	float: right;
}
.big_box{
	padding: 20px;
}
.footer{
	padding: 100px;
}
#score{
	text-align: center;
	font-size: 32px;
	color: white;
}
#score1{
	text-align: center;
	font-size: 32px;
	color: white;
}
#score2{
	text-align: center;
	font-size: 32px;
	color: white;
}


